* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style: none;
}

.nav {
  background-color: purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.nav .nav-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  display: flex;
}
.nav .nav-right ul li {
  color: purple;
}
.nav .nav-right ul li a {
  color: white;
  display: inline-block;
  padding: 50px;
}

.nav-left {
  padding-left: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 20px;
  background-color: purple;
  color: white;
}
.footer #phone1 {
  padding: 5px 30px;
}
.footer #phone {
  background-color: white;
}

.address {
  height: 50px;
  margin-right: 100px;
}

.imejjes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.imejjes h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  color: purple;
  margin: 10px 10px;
}

.main-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin: 50px 50px;
}
.main-main .main-main-right {
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  .container .asset .asset-left {
    display: none;
  }
  .container .imejjes {
    flex-direction: column;
  }
  .container .main-main .main-main-left {
    display: none;
    align-items: center;
  }
  .container .main-main .main-main-right {
    flex-direction: column;
  }
}
h1 {
  text-align: center;
  margin: 30px 30px;
  color: purple;
}

h2 {
  text-align: center;
  color: purple;
}

.asset {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.asset .asset-right {
  margin: 40px 30px;
}
.asset .asset-right .photo {
  margin-top: 20px;
}
.asset .asset-left {
  margin: 40px 30px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.contact .conctact-right {
  margin-left: 40px;
}
.contact input {
  padding: 10px 100px;
  margin-top: 20px;
}
.contact h4 {
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: purple;
  color: white;
  margin-top: 10px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact-left {
    display: none;
  }
  .nav {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer img {
    margin: 10px 0;
  }
}
.imejes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 50px;
}

.image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 40px;
}

#webp {
  border-radius: 90px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  padding: 30px 30px;
}

p {
  padding: 30px 30px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .imejes {
    flex-direction: column;
    margin-top: 10px;
  }
  .image {
    flex-direction: column;
  }
}
.cake {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 50px;
}
.cake .cake-left {
  margin-top: 50px;
}

.love {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 50px;
}
.love .love-right {
  margin-top: 50px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 50px;
}
.about h2 {
  text-align: center;
}