@font-face{
 font-family:'Inter';
 src:url('https://usercontent.flodesk.com/17665d2a-43b7-4231-a101-fa51af5d1050/font/InterRegular.ttf') format('truetype');
 font-weight:400;
 font-style:normal;
 font-display:swap
}