@font-face{
 font-family:'Queens-Compressed-Trial';
 src:url('https://usercontent.flodesk.com/17665d2a-43b7-4231-a101-fa51af5d1050/font/QueensCompressedThin.ttf') format('truetype');
 font-weight:150;
 font-style:normal;
 font-display:swap
}