@use "../../utilities/mixins" as *;
.footer{
    @include flex (space-between, center);
    
    height:200px;
  
    background-color:purple;
    color: white;
    #phone1{
        padding: 5px 20px;
    }
    #phone{
        background-color: white;
    }
    p{
        @include flex(flex-start ,center)
    }
    
   
}
.address{
    height: 50px;
    margin-right: 100px;
}
.png{
    @include flex(center ,center);
    margin-top: 20px;
}
//media queries//
@media screen and (max-width){
    .footer{
        flex-direction: column;
    }
    .png{
        flex-direction: column;
    }
    .address{
        flex-direction: column;
        .phone1{
            flex-direction: column;
        }
    }

}
