@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;


.imejjes{
    @include flex(space-between, center);
    h3{
        @include flex(flex-start,center);
        color: purple;
        margin: 10px 10px;
    }
}
.main-main{
    @include flex(space-between,center);
    margin: 50px 50px;
    .main-main-right{
        margin-left: 30px;
    }
}

@media screen and (max-width:600px){
    .container{
        .asset{
            .asset-left{
                display: none;
            }
        }
        .imejjes{
            flex-direction: column;
        }
        .main-main{
            .main-main-left{
                display: none;
                align-items: center;
                // width: 50%;
            }
            .main-main-right{
                flex-direction: column;
            }
        }
    }
  

//media queries//
@media screen and (max-width: 600px);{
    .main-main{
font-size: 16px;
    }
    .imejjes{
        font-size: 16px;
    }
    .main-main-right{
        font-size: 16px;
    }
    .main-main-left{
        font-size: 16px;
    }

}