@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.cake{
    @include flex(space-between, flex-start);
    margin-top: 50px;
    .cake-left{
        margin-top: 20px;
    }
   

}
.love{
    @include flex(space-between, center);
    margin-top: 50px;
    .love-right{
        margin-top: 50px;
    }
}
.about{
    @include flex(space-between, flex-start);
    margin-top: 50px;
   h2{
    text-align: center;
   }
}
.about-right{
    #em{
        border-radius: 20px;
        margin-left: 40px;
    }
}

@media screen and (max-width:600px){
    .about{
      
        .about-left{
            #em{
                display: none;

            }
        }
        .about-right{
            #em{
                display: none;
            }
        }
    }
    .cake{
        .cake-left{
            #em{
                display: none;
            }
        }
        .cake-right{
         display: none;
        }
    }
    .love{
        .love-left{
            display: none;
        }
    }
}